In [16]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
columns_to_remove = [
    'Unnamed: 0',
    'id_student', 
    'id_student_original',
    'id_year',
    'id_grade',
    'id_class_group',
    'id_school',
    'id_student_16_19',
    'id_school_16_19',
    'student_questionnaire',
    'principals_questionnaire',
    'principals_questionnaire', 
    'teachers_questionnaire', 
    'census',
    'family_questionnaire'
]

In [3]:
dataset = pd.read_csv('./Dataset.csv')

C:\Users\antonio.iannotta2\AppData\Local\Temp\ipykernel_11068\2158068584.py:1: DtypeWarning: Columns (172,173,391) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv('./Dataset.csv')

In [4]:
dataset_dictionary = pd.read_csv('./Data_dictionary.csv')

In [5]:
dataset = dataset.drop(columns=columns_to_remove)

In [6]:
for column in dataset.columns:
    dataset.rename(columns={column: column.lower()}, inplace=True)

In [7]:
categorical_attributes_dataframe = dataset_dictionary[dataset_dictionary['Unnamed: 2'] == 'Categorical']

In [8]:
categorical_attributes = categorical_attributes_dataframe['Unnamed: 0']

In [9]:
categorical_attributes

17     level_MAT
19     level_LEN
21     level_ING
22            a1
23            a2
         ...
558        p331f
559        p331g
560        p331j
561          pfc
562          rep
Name: Unnamed: 0, Length: 465, dtype: object

In [10]:
for categorical_attribute in categorical_attributes:
    #fill with mode of the categorical attribute
    mode = dataset[categorical_attribute.lower()].mode()
    dataset[categorical_attribute.lower()].fillna(mode.values[0], inplace=True)

In [11]:
continuous_attributes_dataframe = dataset_dictionary[dataset_dictionary['Unnamed: 2'] == 'Continuous']

In [12]:
continuous_attributes = continuous_attributes_dataframe['Unnamed: 0']

In [13]:
continuous_attributes

16     score_MAT
18     score_LEN
20     score_ING
34          a6nm
175       Weight
         ...
419         p8bn
426         p10n
510         p28n
543        p171n
544        p172n
Name: Unnamed: 0, Length: 82, dtype: object

In [14]:
for continuous_attribute in continuous_attributes:
    mean = dataset[continuous_attribute.lower()].mean()
    dataset[continuous_attribute.lower()].fillna(mean, inplace=True)

In [15]:
dataset

,scores,score_mat,level_mat,score_len,level_len,score_ing,level_ing,a1,a2,a3a,...,p331a,p331b,p331c,p331d,p331e,p331f,p331g,p331j,pfc,rep
0,1,564.8700,3.0,535.1500,3.0,500.461528,2.0,2.0,2007.0,1.0,...,4.0,4.0,4.0,4.0,4.0,3.0,5.0,4.0,3.0,2.0
1,1,388.3400,1.0,293.7000,1.0,500.461528,2.0,1.0,2007.0,1.0,...,4.0,4.0,4.0,4.0,4.0,3.0,5.0,4.0,3.0,2.0
2,1,386.5900,1.0,514.8100,3.0,500.461528,2.0,2.0,2007.0,1.0,...,4.0,4.0,4.0,4.0,4.0,3.0,5.0,4.0,3.0,2.0
3,1,487.7600,2.0,449.2500,2.0,500.461528,2.0,1.0,2007.0,1.0,...,2.0,2.0,3.0,2.0,3.0,3.0,5.0,4.0,3.0,2.0
4,1,709.7900,4.0,598.7200,3.0,500.461528,2.0,2.0,2007.0,1.0,...,4.0,4.0,4.0,4.0,4.0,3.0,5.0,4.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83852,1,400.8625,2.0,446.6522,2.0,294.747400,1.0,2.0,2007.0,1.0,...,4.0,4.0,4.0,4.0,4.0,3.0,5.0,3.0,10.0,2.0
83853,1,597.0243,3.0,632.6043,4.0,633.296600,4.0,2.0,2007.0,1.0,...,3.0,4.0,4.0,4.0,4.0,3.0,5.0,4.0,3.0,2.0
83854,1,707.9254,4.0,400.2761,2.0,477.505600,2.0,1.0,2007.0,1.0,...,4.0,4.0,4.0,4.0,4.0,3.0,5.0,4.0,3.0,2.0
83855,1,522.8511,3.0,656.1601,4.0,540.112200,3.0,2.0,2007.0,1.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,8.0,1.0
83856,1,519.1200,3.0,426.1871,2.0,453.685400,2.0,1.0,2007.0,1.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,3.0,2.0

In [17]:
def categorical_to_numeric_converter(dataset: pd.DataFrame) -> pd.DataFrame:
    """
    The method converts each categorical column into a numerical one
    :param dataset: the dataset on which pervorm the convertion
    :return: returns a dataset with all numerical attributes
    """
    categorical_columns = [column for column in dataset.columns if dataset[column].dtype=="O"]
    label_encoder = LabelEncoder()
    for column in categorical_columns:
        dataset[column] = label_encoder.fit_transform(dataset[column])

    return dataset

In [ ]:
dataset = categorical_to_numeric_converter(dataset)